debuglog.txt
*.plt
Pilots/
Nova Files/
*.lnk
*.ttf
*.ini
*.exe
*.dll
Nova.rez
*.7z
Nova Plug-ins/Full Screen Map.rez
Nova Plug-ins/Map Size 1920x1080.rez
Nova Plug-ins/Nova Roid Fix 100.rez
Nova Plug-ins/Virtue Buttons.rez
